<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.belida">
    <!-- 인터넷 사용 권한 설정 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Belida"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Belida"
        tools:targetApi="31">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <!-- intent-filter 추가하니깐 그냥 꺼짐? -->
        <activity
            android:name=".ChatActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <!-- intent-filter 추가하니깐 그냥 꺼짐? -->
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".ChatListActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".PhoneActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".NicknameActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".LocationActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MypageActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MypageInfo"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="@string/kakao_oauth_app_key" />
            </intent-filter>
        </activity>

        <activity android:name=".Declare"></activity>
        <activity android:name=".DeclareOne"></activity>
        <activity android:name=".DeclareTwo"></activity>
        <activity android:name=".DeclareThree"></activity>
        <activity android:name=".DeclareFour"></activity>

        <activity android:name=".OptionFragment"></activity>
        <activity android:name=".OptionFragment2"></activity>

        <activity android:name=".ImageEnroll"></activity>

        <!--google map api-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDDLaUnmVtHIAKj6Mt22vkUv-kjRA3dl1s" />

        <activity android:name=".Category"></activity>
        <activity android:name=".EventActivity"></activity>
        <activity android:name="Filter"></activity>
        <activity android:name=".HomePage"></activity>
        <activity android:name=".HomeSearch"></activity>
    </application>

</manifest>